body {
    background-image: url(athens.png);
    background-position: center;
    background-size: cover;
    margin: 0
}

#clock-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#clock {
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    width: 30%;
}