body {
    background-color: grey;
}

h1 {
    color: rgb(33, 33, 204);
}

form {
    background-color: white;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
}