body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsl(0, 0%, 30%);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="sumbit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsla(240, 87%, 64%, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="sumbit"]:hover{
    background-color: hsla(240, 87%, 64%, 0.6);
}

.card{
    background: linear-gradient(180deg,hsl(210,100%,75%),hsl(40,100%,75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 50%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}