body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

#myH1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 61, 61);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 3px solid;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 30px;
}

#controls button {
    font-size: 1.5 rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#startBtn {
    background-color: rgb(0, 128, 0);
}

#startBtn:hover {
    background-color: hsl(120, 100%, 35%);
}

#stoptBtn {
    background-color: hsl(0, 100%, 50%);
}

#stoptBtn:hover {
    background-color: hsl(0, 100%, 60%);
}

#resetBtn {
    background-color: hsl(271, 76%, 53%);
}

#resetBtn:hover {
    background-color: hsl(271, 76%, 63%);
}