#container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 64%, 49%);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: hsl(210, 64%, 69%);

}

button:active {
    background-color: hsl(210, 64%, 89%);
}

input {
    font-size: 1rem;
    text-align: center;
    width: 150px;
}

h1 {
    size: 350px;
}

#diceImages img {
    width: 80px;
    margin: 10px;
}