#h1Title {
    text-align: center;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
}

#buttonContainer {
    text-align: center;


}

.buttons {
    padding: 10px 15px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(77, 77, 228);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(0, 0, 255);
}